    <!-- page_title_section start -->
    <div class="page_title_section">
        <div class="page_header">
            <div class="container">
                <div class="row">
                    <!-- section_heading start -->
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                        <div class="sub_title_section">
                            <ul class="sub_title">
                                <li><a href="#"> Home </a></li>
                                <li> about us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page_title_section end -->
    <!--sw about us top start-->
    <div class="sw_about_top_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_abot_top_txt_wrapper">

                        <div class="sw_left_heading_wraper sw_dark_heading_wraper">
                            <h1>Our Company Overview</h1>
                            <p>We are a renewable energy company (with particular focus on solar PV systems) headquartered in Lagos. We offer affordable and reliable products and services in virtually all segments of the solar PV market; sales, design and installation, training and O&M across Nigeria.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_about_top_img">
                        <img src="assets/images/iner_abt.png" alt="img">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--sw about us top end-->
    <!--sw about us top start-->
    <div class="sw_abt_btm_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_road_leads_img">
                        <img src="assets/images/leads.gif" alt="img">

                    </div>
                    <div class="sw_left_heading_wraper sw_abt_tp_txt">
                        <h6 style="color: #dc6426;"><strong>Design and installation</strong></h6>

                        <p>We at Cycloscape energy boast of our expertise in the design and installation of reliable and very efficient solar power solutions not just because of our technical qualifications and dexterity but also because we've had our own fair share of frustrations and failures from poorly designed and installed systems. From installing systems completely vulnerable to lightning strikes, systems that just stand as a mere home ornament on overcast(cloudy) days to grossly misinforming a few clients on capabilities of their peculiar system…to mention a few.
                            <br><br>
                            Today these experiences and lessons learned have formed a vital part of our strength. Leveraging on our pool of experience and knowledge, use of sophisticated softwares and hardwares, an amazing teamwork and high quality system components we deliver a solar solution that adequately meets your home/office energy need, a system well secured and protected, a system optimized for maximum energy generation possible on a cloudy day.
                            </p>
                      
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_left_heading_wraper sw_abt_tp_txt">
                        <h1>What we do</h1>
                        <h6 style="color: #dc6426;"><strong>Sales</strong></h6>
                        <p>A look at our product gallery will reveal to you the quality of our products. Having been in the solar industry for several years, we have worked with a wide range of solar system components and as such have gleaned a good knowledge about various product brands in the industry. To this end, we as a corporate entity poised to render high quality products and services entered into partnership with some of the industry's top manufacturing brands , serving as local distributors of a host of these premium quality solar system components.
                           <br><br>
                            We are into wholesale and retail sales of virtually all solar system components(panels, batteries, inverters, charge controllers etc) from a handful of top manufacturing brands.                            
                            Click on this link to learn more about our products.
                             </p>
                        <br>

                        <h6 style="color: #dc6426;"><strong>Training</strong></h6>
                        <p>Stemming from the findings of our R&D team on the standard of installation being done in Nigeria, we’ve come to acknowledge that there’s a shortage of finely skilled solar power installers in the country. And that the quality of service rendered by some of these poorly skilled installers have amplified the erroneous belief held by some that solar is not viable, economical, reliable as being touted globally. This to an extent has hampered the deep penetration/acceptance of solar in Nigeria.
                            <br><br>
                            Again, given the rapid pace of growth in the global solar market owing to improved technology and Sharp fall in prices of solar panels and other system components, there’s an increasing number of solar companies springing up in Nigeria in reaction to the global trends and advocacies on solar power as well as the growing acceptance of solar power solutions in Nigeria. It is evident that the solar industry in the country is starved of finely skilled manpower, despite there being a teeming population of unemployed youths.
                            <br><br>
                            Due to these keen observations, we at Cycloscape decided as part of our social-corporate responsibility to equip the youths of this country desiring to dabble into the solar landscape in whatever capacity (freelance installers, sales/marketing employees, entrepreneurs) with the right skill set.
                            <br><br>
                            Cycloscape solar academy is opened to individuals and groups (corporate firms) wanting to be skilled or re-skilled in the solar power sector.
                            <br>
                            Click this link to learn more about our training offerings.
                            </p>
                        <br>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--sw about us top end-->
    <!--sw spectrum wrapper start-->
    <div class="sw_abt_spectrum_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="sw_left_heading_wraper">
                        <h1>We Cover the Whole Spectrum</h1>
                        <img src="assets/images/heading_line.png" alt="title">
                    </div>
                </div>

                  <!-- slider start -->
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 sw_spectrm_padding">
                        <div class="spectrum_slider_wrapper">
                                <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="spectrum_slider_cntnt">
                                            <div class="spectrum_slider_shadow">
                                                <img src="/assets/images/sales.png" alt="title" class="img-responsive">
                                                <h2><a href="#">Sales</a></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="spectrum_slider_cntnt">
                                            <div class="spectrum_slider_shadow">
                                                <img src="/assets/images/house-with-solar-panel-installed.png" alt="title">
                                                <h2><a href="#">Design & Installation</a></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="spectrum_slider_cntnt">
                                            <div class="spectrum_slider_shadow">
                                                <img src="/assets/images/presentation.png" alt="title" class="img-responsive">
                                                <h2><a href="#">Training</a></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="spectrum_slider_cntnt">
                                            <div class="spectrum_slider_shadow">
                                                <img src="/assets/images/tools.png" alt="title" class="img-responsive">
                                                <h2><a href="#">Maintenance</a></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="item">
                                        <div class="spectrum_slider_cntnt">
                                            <div class="spectrum_slider_shadow">
                                                <img src="/assets/images/spec_2.png" alt="title" class="img-responsive">
                                                <h2><a href="#">Wind Generators</a></h2>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
    <!--sw spectrum wrapper end-->
    <!--sw leads wrapper start-->
    <div class="sw_leads_wrapper">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_disc_txt_wrapper">

                        <div class="sw_abt_right_btm_wrapper">

                            <div class="sw_left_heading_wraper">
                                <h1 style="color: #dc6426;"><strong>Our Mission</strong></h1>
                                <img src="assets/images/heading_line.png" alt="title">
                                <p>To deliver affordable, optimized and sustainable solar power solutions as a worthy replacement/alternative to the inadequate, yet expensive national grid supply to homes and businesses desiring to meet their energy needs while cutting down cost significantly.
                                </p>
                            </div>
                            <div class="sw_left_heading_wraper">
                                <h1 style="color: #6d6e70;"><strong>Our Vision</strong></h1>
                                <img src="assets/images/heading_line.png" alt="title">
                                <p>To enable absolute access to electricity through clean energy, bridge the stability gap in on-grid power supply, spur economic development and environmental preservation and protection.
                                </p>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_abt_right_btm_wrapper">
                        <div class="sw_left_heading_wraper">
                            <h1 style="color: #dc6426;"><strong>Our  Core Values</strong></h1>
                            <img src="assets/images/heading_line.png" alt="title">
                            <h6 style="color: #6d6e70;"><strong>INTEGRITY</strong></h6>

                            <p>At Cycloscape we deal justly with our customers by providing apt information on our products and services requested, as well as take responsibility for our shortcomings where guilty.
                            </p>
                            <h6 style="color: #6d6e70;"><strong>QUALITY</strong></h6>

                            <p>The core of our strength lies here. We provide outstanding products and unmatched services that meet and exceed our customers expectations.</p>
                        
                            <h6 style="color: #6d6e70;"><strong>TEAMWORK</strong></h6>

                            <p>At Cycloscape we are a family. We work together across boundaries to deliver premium value to our customers, as well as help our company win. </p>
                        
                            <h6 style="color: #6d6e70;"><strong>SUPPORTING EMPLOYEES</strong></h6>

                            <p>Happy employees -- happy company. We place so much value on our members of staff, thus, support them to grow and reward their creativity and innovative ness.
                            </p>
                        
                            <h6 style="color: #6d6e70;"><strong>CUSTOMER COMMITMENT</strong></h6>

                            <p>We are committed to satisfying the peculiar needs of our customers as well as developing relationships that impact positively on their lives.
                            </p>
                        
                            <h6 style="color: #6d6e70;"><strong>RESILIENCE</strong></h6>

                            <p>We exhibit a strong will to win in the market place and in every aspect of our business, against all odds.
                            </p>
                        
                            <h6 style="color: #6d6e70;"><strong>LOVE FOR HUMANITY</strong></h6>

                            <p>We seize the slightest opportunities around us to demonstrate love, support and affection to the less privileged ones and down trodden in our communities as a way of providing succour to their plight. </p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sw leads section end-->
  
    <!--sw newsletter wrapper start-->
    <div class="sw_news_letter_wrapper">
        <div class="container">
            <div class="sw_nl_heading_wrapper">
                <i class="flaticon-rocket"></i>
                <h2>Get Free Consultancy About Your Project</h2>

            </div>

            <div class="sw_nl_form_wrapper sw_about_inner_btn">

                <div class="disc_btn ltr_btn">
                    <ul>
                        <li>
                            <a href="#!" class="waves-effect waves-light waves-ripple">ask a question</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
    <!--sw newsletter wrapper end-->
  <!-- sw choose service wrapper start-->
<div class="sw_chose_service_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
                <div class="sw_left_heading_wraper sw_center_heading_wrapper">
                    <h1>WHY CHOOSE CYCLOSCAPE?</h1>
                    <img src="/assets/images/heading_line.png" alt="title">
                    <p>We ticked virtually all boxes of professionalism.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="chose_text_wrapper_left">
                    <div class="chose_icon_wrapper_list">
   
                        <div class="chose_icon_img_list">
                            <img src="/assets/images/ser_img_1.png" alt="title">
                        </div>
   
                        <div class="chose_icon_content_left">
                            <h4><a href="#">TIMELY DELIVERY</a></h4>
                            <p>We keep to our words: we deliver products and projects in scheduled time nationwide and are true to the terms of our warranty.</p>
                        </div>
   
                    </div>
                    <div class="chose_icon_wrapper_list">
   
                        <div class="chose_icon_img_list">
                            <img src="/assets/images/information.png" width="63px" alt="title">
                        </div>
   
                        <div class="chose_icon_content_left">
                            <h4><a href="#">BETTER INFORMATION</a></h4>
                            <p>Being informed and staying informed saves a lot of stress and possible wastages. At Cycloscape we give detailed and concise information on any of our products/services requested and also make recommendations on the most apt option available to you, with due consideration to your budget.</p>
                        </div>
   
                    </div>
                    <div class="chose_icon_wrapper_list">
   
                        <div class="chose_icon_img_list">
                            <img src="/assets/images/united.png" width="63px" alt="title">
                        </div>
   
                        <div class="chose_icon_content_left">
                            <h4><a href="#">A GREAT TEAM</a></h4>
                            <p>Our team, populated with young individuals having great innovativeness and experience in a wide range of work terrain and wielding certificates in diverse fields of study are the happiest and most proficient at what they do, waiting to awe you with their skill, knowledge and warmth.</p>
                        </div>
   
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 hidden-sm hidden-xs wow  bounceIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: bounceIn;">
                <div class="section2_img_wrapper">
                    <img class="img-responsive" src="/assets/images/cs_service.png" alt="img">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 hidden-sm hidden-xs">
                <div class="chose_text_wrapper_right">
                    <div class="chose_icon_wrapper_list">
                        <div class="icon_content_right">
                            <h4><a href="#">VALUE OFFERINGS</a></h4>
                            <p>At Cycloscape we offer quality and reliable products and services that meet and exceed your expectations, hence our tagline ”pride in quality”.</p>
                        </div>
   
                        <div class="chose_icon_img_list">
                            <img src="/assets/images/ser_img_3.png" alt="title">
                        </div>
   
                    </div>
                    <div class="chose_icon_wrapper_list">
   
                        <div class="icon_content_right">
                            <h4><a href="#">OPTIMIZED INSTALLATION</a></h4>
                            <p>Given the high initial investment cost of solar, it is important that your system is well optimized to account for every watt-power and thus guarantee faster ROI. When you have the Cycloscape tech team design and install your system, optimization is guaranteed.
                            </p>
                        </div>
   
                        <div class="chose_icon_img_list">
                            <img src="/assets/images/ser_img_4.png" alt="title">
                        </div>
   
                    </div>
                    <div class="chose_icon_wrapper_list">
   
                        <div class="icon_content_right">
                            <h4><a href="#">AFFORDABLE AND FLEXIBLE PRICING</a></h4>
                            <p>Acceding to the high initial investment cost of solar power systems. We have designed and implemented a pricing system that allows you to have solar power in your home/business without breaking the bank.</p>
                        </div>
   
                        <div class="chose_icon_img_list">
                            <img src="/assets/images/pay.png" width="63px" alt="title">
   
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 visible-sm visible-xs">
                <div class="chose_text_wrapper_right">
                    <div class="chose_icon_wrapper_list">
                        <div class="chose_icon_img_list">
                            <img src="/assets/images/ser_img_3.png" alt="title">
                        </div>
                        <div class="icon_content_right">
                            <h4><a href="#">VALUE OFFERINGS</a></h4>
                            <p>At Cycloscape we offer quality and reliable products and services that meet and exceed your expectations, hence our tagline ”pride in quality”.</p>
                        </div>
                    </div>
                    <div class="chose_icon_wrapper_list">
   
                        <div class="chose_icon_img_list">
                            <img src="/assets/images/ser_img_4.png" alt="title">
                        </div>
   
                        <div class="icon_content_right">
                            <h4><a href="#">OPTIMIZED INSTALLATION</a></h4>
                            <p>Given the high initial investment cost of solar, it is important that your system is well optimized to account for every watt-power and thus guarantee faster ROI. When you have the Cycloscape tech team design and install your system, optimization is guaranteed.
                            </p>
                        </div>
                    </div>
                    <div class="chose_icon_wrapper_list wow">
                        <div class="chose_icon_img_list">
                            <img src="/assets/images/pay.png" width="63px" alt="title">
   
                        </div>
                        <div class="icon_content_right">
                            <h4><a href="#">AFFORDABLE AND FLEXIBLE PRICING</a></h4>
                            <p>Acceding to the high initial investment cost of solar power systems. We have designed and implemented a pricing system that allows you to have solar power in your home/business without breaking the bank.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 visible-sm visible-xs">
                <div class="section2_img_wrapper wow  bounceIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: bounceIn;">
                    <img class="img-responsive" src="/assets/images/cs_service.png" alt="img">
                </div>
            </div>
        </div>
    </div>
   </div>
   <!-- sw choose service wrapper end-->
   