 <!-- sw footer section start-->
 <div class="sw_footer_main_wrapper sw_footer_index_wrapper">

    <div class="circle_btm">
        <a href="javascript:" id="return-to-top"><i class="fa fa-long-arrow-up"></i></a>
    </div>
    <div class="footer_wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="foter_padder">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <div class="wrapper_second_about">
                            <div class="wrapper_first_image">
                                <a href="index.html"><img src="/assets/images/hd_logo.png" class="img-responsive" alt="logo" /></a>
                            </div>
                            <div class="abotus_content">
                                <p>We are a renewable energy company (with particular focus on solar PV systems) headquartered in Lagos. We offer affordable and reliable products and services in virtually all segments of the solar PV market; sales, design and installation, training and O&M across Nigeria.
                                </p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">

                        <div class="fb-page" data-href="https://web.facebook.com/Cycloscape" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://web.facebook.com/Cycloscape" class="fb-xfbml-parse-ignore"><a href="https://web.facebook.com/Cycloscape">Cycloscape</a></blockquote></div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <div class="wrapper_second_useful wrapper_second_useful_2">
                            <h4>contact  us</h4>
                            <img src="/assets/images/hd_line_dark.png" alt="title" class="pd_btm_3">
                            <ul>
                                <li>
                                 <h1>+234 9060125295</h1></li>
                                 <!-- <li><a href="#"><i class="flateicon-phone"></i>WhatsApp: +234 8087132152</a>
                                 </li> -->
                                 <li><a href="#"><i class="flaticon-new-email-outline"></i>Enquire@cycloscape.com</a>
                                </li>
                                 <li><a href="#"><i class="flaticon-internet"></i>www.cycloscape.com</a>
                                </li>
                              
                                <li><i class="flaticon-placeholder"></i>14 Paris Agaro avenue, Liberty Estate Ago Palace way, Okota Lagos.
                                </li>                                   
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="section3_copyright">
                    <p>Copyright 2020 <a href="index.html"> Cycloscape energy</a>. all right reserved - design by <a href="#">iDreams Hub</a></p>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- sw footer section end-->