  <!-- page_title_section start -->
  <div class="page_title_section">
    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li><a href="#"> Home </a></li>
                            <li>blog category</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page_title_section end -->
<!--sw about us top start-->
<div class="sw_about_top_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="sw_abot_top_txt_wrapper">

                    <div class="sw_left_heading_wraper sw_dark_heading_wraper">
                        <h1>Latest Blogs</h1>
                        
                        <!-- <img src="assets/images/hd_line_dark.png" alt="title"> -->
                        <p>Get to know more about the solar industry; its application, economics, technologies, ongoing researches, breakthroughs and more.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="sw_about_top_img">
                    <img src="assets/images/iner_blog.png" alt="img">

                </div>
            </div>
        </div>
    </div>
</div>
<!--sw about us top end-->

  <!-- blog_section start -->
  <div class="blog_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="lest_news_box_wrapper">
                    <div class="lest_news_img_wrapper">
                        <img src="assets/images/pjct_single_bg.jpg" alt="blog_img">
                        <div class="btc_blog_indx_date_wrapper">
                            <a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-long-arrow-right"></i></a>
                        </div>

                    </div>
                    <div class="lest_news_cont_wrapper">
                        <div class="sc_blog_date">June 28, 2021</div>
                        <h5><a href="#">Solar 101 : Batteries</a></h5>
                        <p>
                            Batteries used in solar power applications are commonly referred to as “deep cycle” batteries. Unlike the shallow cycle(SLI) batteries, these batteries are designed to be deeply discharged before the next recharge cycle—by supplying a reduced amount of current at a constant rate over an extended period of time (hours). As with other batteries, the primary role of deep cycle batteries used in solar applications is to store up energy and consequently release same to power up loads when mains power source is out/down.

                        </p>
                        <br/>

                        <p>
                            Generally, deep cycle batteries come in a wide range of capacities expressed in amp-hours(AH) with matching nominal cell voltages(V). There are two dominant technologies employed in the manufacturing of deep cycle batteries used in solar applications as at present;

                        </p>
                        <p style="padding-left: 20px">
                           1. Lead-acid technology batteries<br/>
                           2. Lithium ion technology batteries                       
                        </p>
                       <br/>
                    

                        <p>
                            Lead-acid batteries <br/>
                            These are the traditional batteries in use for solar power applications before the advent of the lithium ion batteries. Their use span several decades, thus, have been very well developed to virtually its maximum potential in storage/overall efficiency. The underlying principle of the lead-acid technology is based on submerging a lead-plate in an electrolyte ( usually, Sulfuric acid). These batteries are of two broad types; Flooded lead-acid( FLA) and Valve regulated lead-acid(VRLA) batteries...
  
                        </p>

                    </div>
                    <div class="lest_news_cont_bottom">
                        <div class="lest_news_cont_bottom_left sc_left_btm  sc_btn">
                            <p><a href="#"><i class="fa fa-user"></i>by Cycloscape</a></p>
                        </div>
                        <div class="lest_news_cont_bottom_center sc_center_btm sc_btn">
                            <p><a href="#"><i class="fa fa-eye"></i>264</a></p>
                        </div>
                        <div class="lest_news_cont_bottom_right sc_right_btm sc_btn">
                            <p><a href="#"><i class="fa fa-comments-o"></i>0</a></p>
                        </div>
                         <div class="lest_news_cont_bottom_last sc_right_btm sc_btn">
                            <p><a href="#"><i class="fa fa-clone"></i>Energy</a></p>
                        </div>
                    </div>
                </div>

                <div class="lest_news_box_wrapper">
                    <div class="lest_news_img_wrapper">
                        <img src="assets/images/pjct_single_bg.jpg" alt="blog_img">
                        <div class="btc_blog_indx_date_wrapper">
                            <a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-long-arrow-right"></i></a>
                        </div>

                    </div>
                    <div class="lest_news_cont_wrapper">
                        <div class="sc_blog_date">Junly 21, 2021</div>
                        <h5><a href="#">Solar 101 : THE INVERTER</a></h5>
                        <p>
                            An inverter is a critical component of a solar power system setup, be it on-grid or off-grid. So, understanding the function, varieties and overall capabilities of the inverter in the solar setup is of great gain to anyone who desires to have a solar power solution installed at home/business arena. 
                        </p>
                        <br/>

                        <p>
                            You may or may not have known that energy coming from the sun comes in form of a direct current (DC), which simply means - energy flowing in one direction. And that our homes/offices are mainly designed to utilize alternating current (AC), which simply refers to current flowing back and forth, usually supplied by mains power grid. To this end energy generated through our solar panels or stored in our battery bank cannot be utilized by our homes/offices without being converted to AC, unless in the case of DC powered devices. This is where the inverter comes into play.
                        </p>
                        <p >
                            The primary function of an inverter in a solar power system setup is to convert DC energy from the solar modules or battery bank to AC power that can be utilized by the bulk of our home/office devices. 
                 
                        </p>
                       <br/>
                    

                        <p>
                            However, inverters come in different designs and capacities, it is worthy of mention that an inverter produces no power of its own but relies on power supplied by solar array, battery bank or mains grid to drive its load. The power ratings of an inverter which is usually expressed in W, KW or KVA simply refers to the amount of power it can convert and make available to the load(s) it is driving per given time (hours) at a matching DC system voltage(V). The frequency (Hz) and output AC voltage (VAC) is regulated to match that of the utility grid of the region or country it is being used in.

                        </p>

                    </div>
                    <div class="lest_news_cont_bottom">
                        <div class="lest_news_cont_bottom_left sc_left_btm  sc_btn">
                            <p><a href="#"><i class="fa fa-user"></i>by Cycloscape</a></p>
                        </div>
                        <div class="lest_news_cont_bottom_center sc_center_btm sc_btn">
                            <p><a href="#"><i class="fa fa-eye"></i>264</a></p>
                        </div>
                        <div class="lest_news_cont_bottom_right sc_right_btm sc_btn">
                            <p><a href="#"><i class="fa fa-comments-o"></i>0</a></p>
                        </div>
                         <div class="lest_news_cont_bottom_last sc_right_btm sc_btn">
                            <p><a href="#"><i class="fa fa-clone"></i>Energy</a></p>
                        </div>
                    </div>
                </div>


                <!-- <div class="lest_news_box_wrapper">
                    <div class="lest_news_img_wrapper">
                        <div class="blog_cate_text_box">
                            <p>“ This is Photoshop's ion of Lorem sum. Proin gravida nibh vel velit auor uet. Aenean sollicitudin, lorem quis ndum auctor, nisi elit consequat ipsum, nc
                                <br>sagittis sem nibh id elit.”</p>

                        </div>
                        <div class="btc_blog_indx_date_wrapper inr_blog_btn inr_blog_btn_2">
                            <a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="lest_news_cont_wrapper">
                        <div class="sc_blog_date">June 28, 2018</div>
                        <h5><a href="#">We Hard Security your sefty.</a></h5>
                        <p>It is a long established fact that a reader will be distracted by thee reale content of a page when looking at its layout. ar et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut pealiquip ex ea commodo consequat. Duis The point of usingc Lorem Ipsum is that it has a more-or-less normal</p>

                    </div>
                    <div class="lest_news_cont_bottom">
                        <div class="lest_news_cont_bottom_left sc_left_btm  sc_btn">
                            <p><a href="#"><i class="fa fa-user"></i>by akshay  H.</a></p>
                        </div>
                        <div class="lest_news_cont_bottom_center sc_center_btm sc_btn">
                            <p><a href="#"><i class="fa fa-eye"></i>264</a></p>
                        </div>
                        <div class="lest_news_cont_bottom_right sc_right_btm sc_btn">
                            <p><a href="#"><i class="fa fa-comments-o"></i>05</a></p>
                        </div>
                         <div class="lest_news_cont_bottom_last sc_right_btm sc_btn">
                            <p><a href="#"><i class="fa fa-clone"></i>Energy</a></p>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="lest_news_box_wrapper">
                    <div class="hs_blog_box1_img_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="assets/images/blog_slider.jpg" alt="blog_img">
                            </div>
                            <div class="item">
                                <img src="assets/images/pjct_single_bg.jpg" alt="blog_img">
                            </div>
                            <div class="item">
                                <img src="assets/images/pjct_single_bg.jpg" alt="blog_img">
                            </div>

                        </div>

                    </div>

                    <div class="lest_news_cont_wrapper">
                        <div class="sc_blog_date">June 28, 2018</div>
                        <h5><a href="#">We Hard Security your sefty.</a></h5>
                        <p>It is a long established fact that a reader will be distracted by thee reale content of a page when looking at its layout. ar et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut pealiquip ex ea commodo consequat. Duis The point of usingc Lorem Ipsum is that it has a more-or-less normal</p>

                    </div>
                    <div class="lest_news_cont_bottom">
                        <div class="lest_news_cont_bottom_left sc_left_btm  sc_btn">
                            <p><a href="#"><i class="fa fa-user"></i>by akshay  H.</a></p>
                        </div>
                        <div class="lest_news_cont_bottom_center sc_center_btm sc_btn">
                            <p><a href="#"><i class="fa fa-eye"></i>264</a></p>
                        </div>
                        <div class="lest_news_cont_bottom_right sc_right_btm sc_btn">
                            <p><a href="#"><i class="fa fa-comments-o"></i>05</a></p>
                        </div>
                         <div class="lest_news_cont_bottom_last sc_right_btm sc_btn">
                            <p><a href="#"><i class="fa fa-clone"></i>Energy</a></p>
                        </div>
                    </div>
                </div>

                <div class="lest_news_box_wrapper">
                    <div class="lest_news_img_wrapper">
                        <div class="blog_index_img_wrapper">
                            <iframe src="https://www.youtube.com/embed/ZTjypfy4kWA"></iframe>
                        </div>
                        <div class="btc_blog_indx_date_wrapper inr_blog_btn">
                            <a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="lest_news_cont_wrapper">
                        <div class="sc_blog_date">June 28, 2018</div>
                        <h5><a href="#">We Hard Security your sefty.</a></h5>
                        <p>It is a long established fact that a reader will be distracted by thee reale content of a page when looking at its layout. ar et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut pealiquip ex ea commodo consequat. Duis The point of usingc Lorem Ipsum is that it has a more-or-less normal</p>

                    </div>
                    <div class="lest_news_cont_bottom">
                        <div class="lest_news_cont_bottom_left sc_left_btm  sc_btn">
                            <p><a href="#"><i class="fa fa-user"></i>by akshay  H.</a></p>
                        </div>
                        <div class="lest_news_cont_bottom_center sc_center_btm sc_btn">
                            <p><a href="#"><i class="fa fa-eye"></i>264</a></p>
                        </div>
                        <div class="lest_news_cont_bottom_right sc_right_btm sc_btn">
                            <p><a href="#"><i class="fa fa-comments-o"></i>05</a></p>
                        </div>
                         <div class="lest_news_cont_bottom_last sc_right_btm sc_btn">
                            <p><a href="#"><i class="fa fa-clone"></i>Energy</a></p>
                        </div>
                    </div>
                </div> -->


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <!-- blog_pagination_section start -->
                    <div class="pager_wrapper gc_blog_pagination">
                        <ul class="pagination">
                            <li><a href="#">Previous</a>
                            </li>
                            <li><a href="#">1</a>
                            </li>
                            <li class="third_pagger"><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li class="hidden-xs"><a href="#">4</a>
                            </li>
                            <li><a href="#">Next</a>
                            </li>
                        </ul>
                    </div>
                    <!-- blog_pagination_section end -->
                </div>
            </div>
            <!-- blog_pagination_section end -->

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar_margin">
                <!-- <div class="sidebar_widget">
                    <h4>search here</h4>
                    <img src="assets/images/heading_line.png" alt="title">
                    <form class="search_form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search here">
                        </div>
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div> -->
                <!-- <div class="sidebar_widget">
                    <h4>new categories</h4>
                    <img src="assets/images/heading_line.png" alt="title">
                    <div class="archives_wrapper">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i> electricity <span>(02)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>organization <span>(25)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>researh
                                    <span>(35)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>school <span>(43)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>solar pannels<span>(12)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>wind mill<span>(22)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>household<span>(09)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <div class="sidebar_widget">
                    <h4>new categories</h4>
                    <img src="assets/images/heading_line.png" alt="title">
                    <div class="latest_post_wrapper">
                        <div class="blog_wrapper1">
                            <div class="sc_blog_image">
                                <img src="assets/images/blog_1.png" class="img-responsive" alt="blog_img1" />
                            </div>
                            <div class="sc_blog_text">
                             <div class="sc_blog_date">June 28, 2018</div>
                                <h5><a href="#">Electricity is on
track for what.</a></h5>
                               
                            </div>
                        </div>
                        <div class="blog_wrapper2">
                            <div class="sc_blog_image">
                                <img src="assets/images/blog_2.png" class="img-responsive" alt="blog_img2" />
                            </div>
                            <div class="sc_blog_text">
                             <div class="sc_blog_date">June 28, 2018</div>
                                <h5><a href="#">Electricity is on
track for what.</a></h5>
                               
                            </div>
                        </div>
                        <div class="blog_wrapper3">
                            <div class="sc_blog_image">
                                <img src="assets/images/blog_3.png" class="img-responsive" alt="blog_img3" />
                            </div>
                            <div class="sc_blog_text">
                             <div class="sc_blog_date">June 28, 2018</div>
                                <h5><a href="#">Electricity is on
track for what.</a></h5>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_widget">
                    <h4>archives</h4>
                    <img src="assets/images/heading_line.png" alt="title">
                    <div class="archives_wrapper">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i> june<span>(02)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>july <span>(06)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>august
                                    <span>(15)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>september<span>(23)</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>december<span>(09)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar_widget">
                    <h4>tags</h4>
                    <img src="assets/images/heading_line.png" alt="title">
                    <div class="archives_wrapper">
                        <div class="gc_blog_cloud_side_menu">

                            <ul>
                                <li><a href="#">Inverter</a>
                                </li>
                                <li><a href="#">Solar panel</a>
                                </li>
                                <li><a href="#">battery</a>
                                </li>
                                <li><a href="#">charge controller</a>
                                </li>
                                <li><a href="#">energy</a>
                                </li>
                                <li><a href="#">street light</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slidebar_add_img">
                    <a href="#">
                        <img src="assets/images/add.png" alt="img" class="img-responsive">
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- blog_section end -->